.css-xn6ruc {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: azure !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    color:azure !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    width: 20%;
}
