.about {
    /* position: fixed;
    top: 20%;
    left: 30%;
    width: 600px; */
    height: 300px;
    /* background-color: #08080683; */
    border-radius: 21px;
    color: azure;
    /* color: azure; */
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:hover{
    background: rgba(189, 189, 189, 0.384) !important
}
/* input:-internal-autofill-selected{
    background: none !important;
}
#input{
    background: red !important
} */
/*
.buttonAbout {
    position: fixed;
    top: 50%;
    left: 30%;
    width: 600px;
}
 */
