/* .MuiToolbar-root MuiToolbar-regular css-r6ewbb-MuiToolbar-root */
.css-r6ewbb-MuiToolbar-root{
    background-color: rgba(0, 0, 0, 0.893);
}
.css-1772xa9-MuiContainer-root{
    padding: 0 !important;
}
.css-1772xa9-MuiContainer-root{
    padding: 0 !important;
    /* padding-left: 15px !important; */
}
/* .css-1uzrjc8-MuiSvgIcon-root{
    padding-left: 15px;
} */